@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    @apply bg-black text-white;
  }
}

.bg-black {
    --tw-bg-opacity: 1;
    background-color: rgb(22 21 19 / var(--tw-bg-opacity));
}

@font-face {
  font-family: 'BaiJamjuree';
  src: url('/fonts/BaiJamjuree-Regular.ttf') format('truetype');
}

@layer base {
  html {
    font-family: 'BaiJamjuree', sans-serif;
  }
}

@layer base {
    html {
        margin-right: 100px;
        margin-left: 100px;
    }
}

